<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartprototype">

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity android:name=".ChoiceForm"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".OnBoarding" />
        <activity
            android:name=".QuestionForm4"
            android:label="@string/title_activity_question_form4"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QuestionForm3"
            android:label="@string/title_activity_question_form3"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QuestionForm2"
            android:label="@string/title_activity_question_form2"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QuestionForm"
            android:label="@string/title_activity_question_form"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HomeScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>